body {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    min-height: 90vh; /* Prend toute la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
    background-color: #f8f9fa; /* Optionnel : couleur de fond */
}

#wpwrap {
    height: 100%!important;
}

#wpfooter {
    position: relative!important; 
}

.div_conteneur_parent {
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    width: 100%; /* S'assure que le conteneur prend toute la largeur */
}

.div_conteneur_page {
    min-height: 90vh; /* 90% de la hauteur de l'écran */
    width: 100%; /* S'assure que le conteneur prend toute la largeur */
    max-width: 90%; /* Limite la largeur à 800px */
    padding: 20px; /* Ajoute un peu de rembourrage */
    background-color: white; /* Couleur de fond du conteneur */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
    margin: 0; /* Centre le conteneur sur la page */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_int_page{
    width: 100%;
}

h1 {
    text-align: center; /* Centre le titre */
}

.centre {
    text-align: center; /* Centre le contenu dans les éléments avec la classe 'centre' */
}

/* Styles de base pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

/* En-têtes du tableau */
th {
    background-color: #f7f7f7;
    color: #333;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

/* Cellules */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
}

/* Alternance des lignes */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Effet au survol */
tr:hover {
    background-color: #f1f1f1;
}

/* Boutons */
button {
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

/* Boutons personnalisés */
button.view {
    background-color: #007bff; /* Bleu */
}

button.edit {
    background-color: #ffc107; /* Jaune */
    color: #000;
}

button.delete {
    background-color: #dc3545; /* Rouge */
}

/* Alignement des colonnes avec du texte long */
td {
    max-width: 200px; /* Ajustez selon vos besoins */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.error-message {
    color: red;
    font-weight: bold;
}

.alert {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 1rem;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
}


/*css pour la modal*/
.modal {
    display: none; /* Cacher la fenêtre modale par défaut */
    position: fixed; /* Rester à la même position */
    z-index: 2000; /* Assurez-vous qu'il est au-dessus */
    left: 0;
    top: 0;
    width: 100%; /* Plein écran */
    height: 100%; /* Plein écran */
    overflow: auto; /* Ajouter un défilement si nécessaire */
    background-color: rgba(0, 0, 0, 0.4); /* Arrière-plan semi-transparent */
}

.modal-dialog {
    max-width: 500px; /* Ajustez cette valeur selon vos besoins */
    margin: auto; /* Centre la modal */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% du haut et centré */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur de la fenêtre modale */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[disabled], select[disabled], textarea[disabled] {
    color: #000; /* Couleur noire pour le texte */
    background-color: #f0f0f0; /* Fond légèrement gris pour indiquer qu'il est désactivé */
    opacity: 1; /* Supprimer l'opacité par défaut pour les champs désactivés */
}

button#import,button#importModalBtn{
 margin:0 2rem;
}

#importModal {
    display: none; /* Cache par défaut */
    position: fixed; /* Reste à la même position */
    z-index: 1050; /* Assurez-vous qu'il est au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%; /* Plein écran */
    height: 100%; /* Plein écran */
    background-color: rgba(0, 0, 0, 0.5); /* Arrière-plan semi-transparent */
}

.tooltip {
    --bs-tooltip-bg:#cff4fc !important; /* Couleur de fond de la tooltip */
    --bs-tooltip-color: black !important;  /* Couleur du texte de la tooltip */
}